---
import { languages } from '../i18n/ui';
import { getLangFromUrl } from '../i18n/utils';
const currentLang = getLangFromUrl(Astro.url);
const langEntries = Object.entries(languages);
---
<div class="lang-sw">
  {langEntries.map(([code]) => {
    const href = code === 'en' ? '/' : `/${code}`;
    const isActive = code === currentLang;
    return (
      <a
        href={href}
        class={`lang-item ${isActive ? 'lang-active' : ''}`}
        title={languages[code as keyof typeof languages]}
      >
        {code.toUpperCase()}
      </a>
    );
  })}
</div>
